.esports-info {
  display: inline-block;
  width: 32vw;
  height: 300px;
  overflow: auto;
  margin: auto;
}

.esports-info-img
  {
      width: 30vw;
      height: auto;
  }

  .esports-tournaments img{
    float: left;
    width: 30%;
    height: auto;
  }